<form method="POST">
    <h2>EDIT YOUR PROFILE!</h2>
    <label for="first">First name</label>
    <input name="first" value="{{user.first}}" />
    <label for="last">Last name</label>
    <input name="last" value="{{user.last}}" />
    <label for="email">Email</label>
    <input name="email" value="{{user.email}}" />
    <label for="password">Password</label>
    <input name="password" value="" />
    <label for="age">Age</label>
    <input name="age" value="{{user.age}}" />
    <label for="city">City</label>
    <input name="city" value="{{user.city}}" />
    <label for="url">Url</label>
    <input name="url" value="{{user.url}}" />
    <button>Update</button>

</form>